#main {
    float: left;
    width: 55%;
    border-color: red;
    border-width: 2px;
}

#add_new_record {
    float: right;
    width: 35%;
    border-style: solid;
    border-color: pink;
    border-width: 2px;
}

.heading {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

input, .label_left, #errors {
    margin-bottom: 10px;
    margin-left: 10px;
}

#errors, .negative {
    color: red;
}

.record {
    height: 30px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.positive {
    color: green;
}

.date {
    font: bold 15px Serif;
    margin-top: 25px;
}